* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --sidebar-font-color: white; 
}

.content-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / 1fr 4fr;
}

/* SIDEBOARD SECTION */

.sideboard-container {
    background-color: #1B3358;
    grid-row: 1 / -1;
    color: var(--sidebar-font-color);
    padding: 20px;
}

.header-container {
    background-color: #BD83B8;
}

.dashboard-logo {
    font-size: 2.5rem;
    font-weight: 600;
}

.main-nav {
    margin-top: 60px;
    margin-bottom: 60px;
}

.nav-item {
    margin: 20px 0;
    --nav-item-height: 40px;
    height: var(--nav-item-height);
    display: grid;
    grid-template-columns: min-content auto;
    gap: 20px;
    align-items: center;
}

.nav-icon {
    filter: invert(1);
    height: 100%;
}

a {
    color: var(--sidebar-font-color);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

/* MAIN CONTENT SECTION */

.main-content-container {
    background-color: #979696;
    display: grid;
    grid-template: 1fr 5fr 1fr 4fr / 5fr 2fr;
    grid-template-areas: "arojects-header announcements-header"
                         "projects announcements"
                         "projects trending-header"
                         "projects trending";
    gap: 10px 20px;
    padding: 0 20px 50px;
}

.projects-section-container {
    grid-area: projects;
    display: grid;
    grid-template: min-content / repeat(2, 1fr);
    gap: 20px;
}

.main-content-header {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: end;
}

.single-project-container,
.announcements-section-container,
.trending-section-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 2px 3px;
    padding: 20px;
}

.single-project-container {
    border-left: 10px solid #F1916D;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

.project-name {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 10px;
}

.project-description,
.announcement-description,
.trending-item-fullname {
    color: #3f3e3e;
}

.reactions-container {
    margin-top: 20px;
    place-self: end end;
}

.reactions-container > button {
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
}

.reactions-container > button:hover {
    cursor: pointer;
    filter: invert(0.4);
}

.favourite {
    background-image: url(./SVG_Icons/star-plus-outline.svg);
}

.hide {
    background-image: url(./SVG_Icons/eye-plus-outline.svg);
}

.share {
    background-image: url(./SVG_Icons/share-variant-outline.svg);
}

.main-content-right {
    border: 3px dotted purple;
}

.announcements-section-container {
    display: grid;
    grid-template-rows: repeat(5, min-content);
    gap: 10px;
    align-content: space-evenly;
}

.announcement-title {
    font-weight: 500;
}

.announcement-description {
    font-size: 0.8rem;
}

.trending-section-container {
    display: grid;
}

.single-trending-item-container {
    --trending-img-size: 40px;
    height: var(--trending-img-size);
    display: grid;
    grid-template: repeat(2, 1fr) / var(--trending-img-size) 1fr;
    gap: 5px 20px;
}

.trending-item-name {
    font-weight: 500;
}

.trending-item-img {
    grid-row: 1 / -1;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: calc(var(--trending-img-size)/2);
}

/* HEADER SECTION */

.header-container {
    display: grid;
    grid-template: 4fr 5fr / 5fr 3fr;
    gap: 30px;
    padding: 20px 50px;
    align-items: center;
}

.search-container {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 32px;
}

.search-icon {
    height: 100%;
}

.search-bar {
    height: 100%;
    border-radius: 16px;
    background-color: #e6e6e6;
    font-size: 1.2rem;
}

.user-info-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
    gap: 20px;
    align-items: center;
    justify-self: end;
}

.notification-icon {
    height: 32px;
}

.user-info-container > .user-img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.user-info-container > .user-name {
    font-weight: 500;
}

.user-welcome-container {
    display: grid;
    grid-template: 2fr 3fr / min-content 1fr;
    gap: 10px 30px;
}

.user-welcome-container > .user-img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    object-fit: cover;
    grid-area: 1 / 1 / -1 / 2;
}

.user-welcome-container > .user-name {
    font-size: 2rem;
    font-weight: 600;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 20px;
    justify-content: end;
}

.buttons-container > button {
    background-color: #1B3358;
    color: #ffffff;
    width: 100px;
    height: auto;
    padding: 10px;
    border-radius: 999px;
    font-weight: 500;
    font-size: 1rem;
    border: none;
}

.buttons-container > button:hover {
    background-color: #244475;
}